{% extends "pdsBlogBundle::layout.html.twig" %}

{% block content %}
<div class="article">
  <h1>{{ article.getTitle }}</h1>
  <p>{{ article.getText }}</p>
  <p class="date">Přidáno: {{ article.getDate|date('d.m.Y | H:i') }} <span class="back"><a href="{{ path('pds_blog_homepage') }}" title="Zpět">Zpět</a></span></p>
</div>
<div id="comment-block">
  <h3>Přidat komentář</h3>
  {{ render(controller('pdsBlogBundle:Comment:addForm')) }}
  
  <h3>Komentáře:</h3>
  {% block comment %}
    {{ render(controller('pdsBlogBundle:Comment:fetchAllByArticleId', { 'articleId': article.getId } )) }}
  {% endblock %}
</div>
{% endblock %}